<ion-header>
  <ion-toolbar>
    <ion-title>{{translationPrefix + 'header' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-start (click)="dismiss()" color="primary">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div padding class="goalForm">
    <ng-container *ngIf="goals">
      <form [formGroup]="form" (ngSubmit)="saveGoal()">
        <ion-item>
          <ion-label position="stacked">{{translationPrefix + 'activity_label' | translate}}</ion-label>
          <ion-input type="text" formControlName="activity"></ion-input>
        </ion-item> 
        <div class="form_error">
          <ng-container *ngIf="form.touched && form.controls['activity'].errors">
            {{form.controls['activity'].errors}}
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="stacked">{{translationPrefix + 'times_label' | translate}}</ion-label>
          <ion-input type="number" formControlName="number"></ion-input>
        </ion-item>
        <ion-button type="submit" color="primary" icon-start [disabled]="form.invalid">
          <ion-icon name="checkmark"></ion-icon>
          {{translationPrefix + 'save' | translate}}
        </ion-button>
      </form>
    </ng-container>
  </div>

</ion-content>
