<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/goals"></ion-back-button>
    </ion-buttons>
    Add Activity
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <form [formGroup]="form" (ngSubmit)="saveActivity()">
      <ion-item>
        <ion-label position="stacked">Activity name</ion-label>
        <ion-input placeholder="Type activity name" formControlName="name"></ion-input>
      </ion-item>    
      <ion-item>
        <ion-label position="stacked">Activity description</ion-label>
        <ion-input placeholder="Optional: Type activity description" formControlName="description"></ion-input>
      </ion-item>
      <ion-button type="submit" color="primary" icon-start [disabled]="form.invalid">
        <ion-icon name="checkmark"></ion-icon>
        Add new Activity
      </ion-button>
    </form>
  </div>

</ion-content>
