<ion-header>
  <ion-toolbar>
    <ion-title translate>app_name</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-start size="large" (click)="addGoal()" color="primary">
        <ion-label translate>dashboard.add_goal_button</ion-label>
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    <!--<ion-button icon-start (click)="resetEntries()" color="primary">
        <ion-icon name="trash"></ion-icon>
      </ion-button>-->
    </ion-buttons>   
  </ion-toolbar>
</ion-header>

<ion-content class="border-shadow">
  <ng-container *ngIf="!loading && goals.length === 0; else dashboard">
    <div class="jumbotron">
      <div>
        <ion-text>
          <ion-note>
            <h4 translate>dashboard.no_goals_header</h4>
          </ion-note>
      </ion-text>
      </div>
      <div>
        <ion-text class="ion-padding">
          <ion-note><div translate>dashboard.no_goals_subheader</div></ion-note>
        </ion-text>  
      </div>    
    </div>
  </ng-container>


  <ng-template #dashboard>
    <div class="streak-container flex-container" *ngIf="streak !== undefined">
      <app-streak-count *ngIf="record > streak.count" [streakCount]="record" label="dashboard.record"></app-streak-count>
      <app-streak-count [streakCount]="streak.count" size="large" label="dashboard.streakcount"></app-streak-count>
    </div>  
    <ion-list *ngIf="goals" class="ion-border-top">  
      <ion-item *ngFor="let goal of goals"  class="ion-no-padding">
        <ion-label>
          <div class="flex">
            <ion-title>
              <div class="flex" data-test="activityName">
                <ion-icon role="button" (click)="toggleGoal(goal)" [name]="isExpanded(goal) ? 'chevron-down-outline' : 'chevron-forward-outline'" class="padding-right"></ion-icon>
                {{ goal.activityName}}
              </div>
            </ion-title> 
            <ion-button (click)="addDiaryEntry(goal)" icon-start  size="large" [color]="getColor(goal)" size="default">
              {{getCurrentCount(goal)}} / {{goal.timesPerWeek}} &nbsp;
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
            <ion-button icon-start size="default" color="light" (click)="showOptions(goal)">
              <ion-icon name="menu-outline"></ion-icon>
            </ion-button>
          </div>
          <ion-list lines="none" *ngIf="isExpanded(goal)" >
            <ng-container *ngIf="getEntries(goal.activityName).length > 0; else no_entries">
              <ion-item *ngFor="let entry of getEntries(goal.activityName)" class="day">
                <ion-label color="medium">
                  {{entry.date | date: 'EEEE'}}
                </ion-label>
                <!--<ion-button icon-start (click)="deleteEntry(entry)" color="danger">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>-->
              </ion-item>
            </ng-container>
            <ng-template #no_entries>
              <ion-item class="day">
                <ion-label color="medium">
                  {{ 'dashboard.no_entries' | translate: { activity_name:goal.activityName } }}
                </ion-label>
              </ion-item>
            </ng-template>

          </ion-list>
        </ion-label>      
      </ion-item>
    </ion-list>
  </ng-template>
  
</ion-content>

