<ion-header>
  <ion-toolbar>
    <ion-title>Weekly Goals</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-start (click)="resetEntries()" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="streak-container" *ngIf="streak !== undefined">
    <div class="quiz-medal">
      <div class="quiz-medal__circle quiz-medal__circle--gold">
        <span>
          {{streak.count || 0}}
        </span>
      </div>
      <div class="quiz-medal__ribbon quiz-medal__ribbon--left"></div>
      <div class="quiz-medal__ribbon quiz-medal__ribbon--right"></div>
    </div> 
  </div>
  <ion-list *ngIf="goals && entries">  
    <ion-item *ngFor="let goal of goals">
      <ion-label>
        <div class="flex">
          <ion-title>
            <div class="flex">
              <ion-icon role="button" (click)="toggleGoal(goal)" [name]="isExpanded(goal) ? 'chevron-down-outline' : 'chevron-forward-outline'" class="padding-right"></ion-icon>
              {{ activityName(goal.activityId)}}
            </div>
          </ion-title> 
          <ion-button (click)="addDiaryEntry(goal.activityId)" icon-start  size="large" [color]="getColor(goal.activityId)" size="default">
            {{getCurrentCount(goal.activityId)}} / {{goal.timesPerWeek}} &nbsp;
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </div>
        <ion-list lines="none" *ngIf="isExpanded(goal)" >
          <ion-item *ngFor="let entry of getEntries(goal.activityId)" class="day">
            <ion-label color="medium">
              {{entry.date | date: 'EEEE'}}
            </ion-label>
            <!--<ion-button icon-start (click)="deleteEntry(entry)" color="danger">
              <ion-icon name="trash"></ion-icon>
            </ion-button>-->
          </ion-item>
        </ion-list>
      </ion-label>
      
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/goals']" icon-start>
          <ion-icon name="settings"></ion-icon>
          Manage Goals
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
