.flex {
    display: flex;
}

::ng-deep {
    .item-native {
        padding-left: 0 !important;
        --padding-start: 0px;
    }
}

.jumbotron{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: --ion-color-medium;
}

.progress {
    height: 36px;
    margin: 4px 2px;
    border-radius: 4px;
}

.padding-right {
    padding-right: 0.5em;
}


.day {
    padding-left: 2em;
}


.my-custom-class .modal-wrapper {
    width: calc(100% - 1em);
    height: calc(100% - 1em);
}

.padding-top {
    padding-top: 20px;
}

.flex-container {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.streak-container {
    height: 200px;
   
}

