<ion-header>
  <ion-toolbar>
    <ion-title>Weekly Goals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" *ngIf="goals && entries">  
    <ion-item *ngFor="let goal of goals">
      <ion-label>
        {{ activityName(goal.activityId)}}
        <ion-badge  [color]="getColor(goal.activityId)">
          {{getCurrentCount(goal.activityId)}} / {{goal.timesPerWeek}}
        </ion-badge>
        <ion-list lines="none" >
          <ion-item *ngFor="let entry of getEntries(goal.activityId)">
            <ion-label>
              {{entry.date | date: 'EEEE'}}
            </ion-label>
            <ion-button icon-start (click)="deleteEntry(entry)" color="danger">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-label>
      
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/track-activity']" color="primary" icon-start>
          <ion-icon name="add-circle"></ion-icon>
          Track Activity
        </ion-button>
        <ion-button [routerLink]="['/goals']" icon-start>
          <ion-icon name="settings"></ion-icon>
          Manage Goals
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
