<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/goals"></ion-back-button>
    </ion-buttons>
    Add goal
  </ion-toolbar>
</ion-header>


<ion-content>
  <div padding>
    <ng-container *ngIf="activities">
      <form [formGroup]="form" (ngSubmit)="saveGoal()">
        <ion-item>
          <ion-label position="stacked">I want to do...</ion-label>
          <ion-select placeholder="Select Activity" formControlName="activity">
            <ion-select-option *ngFor="let activity of activities" [value]="activity">{{activity.name}}</ion-select-option>
          </ion-select> 
        </ion-item>  
        <ion-item>
          <ion-label position="stacked">Times a week: </ion-label>
          <ion-input type="number" formControlName="number"></ion-input>
        </ion-item>
        <ion-button type="submit" color="primary" icon-start [disabled]="form.invalid">
          <ion-icon name="checkmark"></ion-icon>
          Add new Goal
        </ion-button>
      </form>
    </ng-container>
  </div>

</ion-content>
